@page
@model Planilla360.Pages.EmpleadosModel
@{
    ViewData["Title"] = "Empleados";
}

<div class="text-center">
    <h1 class="display-3">Gestion de Empleados</h1>
</div>
<a class="btn btn-primary btn-sm" href="/Empleados/NuevoEmpleado">Nuevo Empleado</a>

<!-- Aqui colocaremos la tabla de nuestros empleados ya en existencia consultado desde la BD -->

<table class="table">
    <thead>
        <tr>
            <th>IdEmpleado</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Electronico</th>
            <th>Telefono</th>
            <th>Puesto</th>
            <th>Salario Base</th>
            <th>Fecha de Ingreso</th>
            <th>Fecha de Nacimineto</th>
            <th>IdPuesto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tdbody>
        <!--Recorremos la lista de objetos creada en el modelo -->
        @foreach (var item in Model.listaEmpleados)
        {
            <tr>
                <th>@item.IdEmpleado</th>
                <th>@item.Nombre</th>
                <th>@item.Apellido</th>
                <th>@item.CorreoElectronico</th>
                <th>@item.Telefono</th>
                <th>@item.Puesto</th>
                <th>@item.SalarioBase</th>
                <th>@item.FechaIngreso</th>
                <th>@item.FechaNacimiento</th>
                <th>@item.IdPuesto</th>
                <td>
                    <a class="btn btn-info btn-sm" href="/Clientes/Modificar?id=@item.IdEmpleado">Modificar</a>
                    <a class="btn btn-danger btn-sm" href="/Clientes/Eliminar?id=@item.IdEmpleado">Eliminar</a>
                </td>
            </tr>
        }
    </tdbody>
</table>